# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the main branch
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  deploy:
    runs-on: macos-latest
    steps:
    - uses: actions/checkout@v2
      with:
        submodules: true # 找尋 HUGO 主題（ true or recursive)
        fetch-depth: 0 # Fetch all history for .GitInfo and .Lastmod

    - name: Setup Hugo
      uses: peaceiris/actions-hugo@v2
      with:
        hugo-version: '0.92.2' # hugo 版本
        extended: true
        
    - name: Build
      run: hugo --minify
      
    - name: Deploy
      uses: peaceiris/actions-gh-pages@v3
      with:
        github_token: ${{ secrets.HUGO_DEPLOY_TOKEN }}
        PUBLISH_BRANCH: gh-pages # 推送到 gh-pages 分支
        PUBLISH_DIR: ./public # hugo 生成的目錄
        commit_message: ${{ github.event.head_commit.message }}

